TELEGRAM_API_ID=your_api_id_here
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_PHONE=+2348034180774

CHANNELS_TO_WATCH=DarkWebInformer,cyber_security_news,TheHackersNews,vxunderground
DATABASE_PATH=scanner.db
